# Resources required by the sample browser and most samples.
#[Popular]
[General]
FileSystem=media/textures
FileSystem=media/textures/irrskybox
FileSystem=media/textures/nvidia
FileSystem=media/materials

#[General]
FileSystem=media