# Resources required by the sample browser and most samples.
#[Popular]
[General]
FileSystem=media/textures
FileSystem=media/textures/irrskybox
FileSystem=media/textures/nvidia
FileSystem=media/materials
FileSystem=media/materials/scripts
FileSystem=media/models

#[General]
FileSystem=media